main {
  display: grid;
  grid-template-columns: [left_image-start] 1fr [left_image-end right_image-start] 1fr [right_image-end];
  grid-template-rows: auto;
  gap: 1em;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  margin-top: 10em;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
}

div > img {
  max-width: 100%;
  max-height: 100%;
  width: fit-content;
  height: fit-content;
}

.title {
  font-size: 128;
  font-weight: 100;
  text-transform: uppercase;
}

.greybar {
  grid-column: 1 / -1;
  width: 100%;
}

#film {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  justify-self: flex-end;
  padding-right: 2em;
}

#digital {
  grid-column: 1 / 2;
  grid-row: span 2;
  justify-self: flex-start;
  padding-left: 2em;
}

#devils-slide {
  grid-row: 1;
  grid-column: right_image;
  margin-right: 2em;
  margin-top: 34%;
}

#seal-pile {
  grid-row: 1;
  grid-column: left_image;
  margin-left: 2em;
}
#mussel-rock-para {
  grid-row: 3 / 4;
  grid-column: left_image;
  margin-left: 2em;
  margin-bottom: 55%;
}

#rocks {
  grid-row: 3 / 4;
  grid-column: right_image;
  margin-right: 2em;
}
